<%- include('partials/header') %>

<div class="container">
    <h1>Welcome to <span>Secretgram</span></h1>
    <h3>Safest place to add yout secrets...</h3>
    <div class="theform">
        <a href="/register" role="button">Register</a>
        <a href="/login" role="button">Login</a>
    </div>
</div>