<%- include('partials/header') %>
<div class="container-2">
    
          <h1 id="account">Login into your account</h1>
       
    
    
    <h2>Login</h2>
  
    <div class="general-form">
        <!-- Makes POST request to /login route -->
        <form action="/login" method="POST">
            <div class="fill-that">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="username" required>
            </div>
            <div class="fill-that">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" required>
            </div>
            <button type="submit" class="the-btn">Login</button>
        </form>
    </div>
</div>
