<%- include('partials/header') %>


  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="let's-see">You've Discovered My Secret!</h1>
    <p class="my-secret">secret</p>
    <hr>
    
    <a class="logout-btn" href="/logout" role="button">Log Out</a>
    <a class="submit-btn" href="/submit" role="button">Submit a Secret</a>
  
</div>