<%- include('partials/header') %>


<div class="container-3">
  <i class="fas fa-key fa-6x"></i>
  <h1 class="secret-title">Add your secret here Freely</h1>
  <form action="/secrets" method="POST">
    <input type="text" class="form-control" name="secret" placeholder="What's your secret?">
    <button type="submit" class="the-btn">Submit</button>
  </form>
  
  <h5 class="my-secret"><p id="before-secret">Your secret : </p><%= secret %></h5> 
  <hr>
  
  <a class="logout-btn" href="/logout" role="button">Log Out</a>
</div>